<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>839430416881-pt1i0vndqarm31st0odrf94vkrfe3uuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839430416881-pt1i0vndqarm31st0odrf94vkrfe3uuf</string>
	<key>API_KEY</key>
	<string>AIzaSyAvEfdLLy002BOeCrf627wF044W7oCTVI0</string>
	<key>GCM_SENDER_ID</key>
	<string>839430416881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sea.vision</string>
	<key>PROJECT_ID</key>
	<string>mlkit-3bf3d</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-3bf3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839430416881:ios:b802fa4c1eac74814e7c50</string>
</dict>
</plist>
